/*Fredoka One*/ @import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap'); 
/*Vollkorn*/ @import url('https://fonts.googleapis.com/css2?family=Vollkorn&display=swap');

:root{
    --blue: #30C5FF; 
    --black: #2A2D34;
    --green: #5C946E; 
    --moldgreen: #80C2AF; 
    --aqua: #A0DDE6; 

    background-image: url(../images/wallpaper.jpg);
}

h1, h2, h3, h4{
    font-family: 'Fredoka One', Arial, Helvetica, sans-serif;
}

p, li{
    font-family: 'Vollkorn', Arial, Helvetica, sans-serif;
}
a{
    color:var(--green)
}

/* Start the specific content*/

main{
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 1%;
    margin-bottom: 1%;
    background-color: white;
    align-items: center;
    padding: 2em;
}
.title{
    background-color: var(--aqua);
    display:flex;
}
.title img{
    max-width: 4em;
    padding:0.5%;
}

nav{
    background-color: var(--black);
}
nav ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    align-content: stretch;
}

nav ul li{
    padding: 1%;
}
nav ul li:hover{
    background-color: rgb(0, 0, 0);
}
nav ul li a{
    color: var(--aqua);
}
.menu{
    display:none;
}

footer{
    background-color: var(--black);
}
footer div{
    display: inline-block
}
@media screen and (max-width: 480px){
    
    nav ul li{
        display:none
    }
    
    .menu{
        display: flex;
        margin-left: 40%;
        margin-right: 3%;
        
        }
    .menu img{
        max-width: 1px;
    }
}