/*Fredoka One*/ @import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap'); 
/*Vollkorn*/ @import url('https://fonts.googleapis.com/css2?family=Vollkorn&display=swap');

:root{
    --blue: #30C5FF; 
    --black: #2A2D34;
    --green: #5C946E; 
    --moldgreen: #80C2AF; 
    --aqua: #A0DDE6; 
    --grey: #868fa3;

    background-image: url(../images/wallpaper.jpg); 
}

h1, h2, h3, h4, h5{
    font-family: 'Fredoka One', Arial, Helvetica, sans-serif;
}

p, li, strong, b, i, label{
    font-family: 'Vollkorn', Arial, Helvetica, sans-serif;
}
a{
    color:var(--green)
}
img{
    max-width:100%;
}

button, input[type=submit],  input[type=reset]{
    background-color:var(--green);
}

/* Start the specific content*/

main{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1%;
    margin-bottom: 1%;
    background-color: white;
    align-items: center;
    padding: 3%;
}
/*Title banner*/
.title{
    background-color: var(--aqua);
}
.logo{
    float: left;
    margin-left:3em;
    margin-right:3px;
    max-width: 5em;
    padding:0.5%;
}
.title strong, .title h1{
    display: block;
    padding:5px;
}

/* Nav bar */
nav{
    background-color: var(--black);
    margin-top:-1em;
}
nav ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    align-content: stretch;
}

nav ul a li{
    padding: 1%;
    transition: all ease-in-out 500ms;
    cursor: pointer;
    padding: 1em;
    text-align:center;
    max-height: 1em;
}
nav ul a li:hover{
    background-color: rgb(0, 0, 0);
}
nav ul a{
    text-decoration: none;
    color: var(--aqua);
}
.menu{
    cursor: pointer;
    display:none;
    height: 6em;
}
/*Banner*/
.banner img{
    max-width:100%
}
/*Weather Summary*/
.weather_sum{
    border-style: solid;
    background-color: var(--grey);
    border-width: 2px;
    
    padding: 3px;

    position:absolute;
    top: 250px;
    margin-top: 5%;
    margin-left: 1.5em;

    display: grid;
    grid-template: 1fr / 1fr 1fr;
    grid-gap:1em;

}
.weather_sum img{
    float:left;
}
.weather_sum p{
    display:inline;
    font-weight: lighter;
}
.weather_sum b, .weather_sum h3{
    padding:0.3em;
}


/*footer*/
footer{
    background-color: var(--black);
    padding:10px;
    display: grid;
    grid-template: 1fr / 1fr 1fr;
    justify-items: center;
}
footer h5, footer h2, footer p, footer li, footer b, footer strong{
    color: var(--grey);
    text-align: center;
}
.contact_info{
    text-align: left;
    align-items: center;
}
.contact_info img{
    max-width: 15px;
}
.contact_info ul{
    list-style-type: none;
    margin-left: -3em;
}

.social_media img{
    max-width: 20px;
}
/*---------INDEX PAGE*/
.home-grid{
    display:grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap:1em;
}

.home-grid div{
    background-color: var(--moldgreen);

    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    border-color: var(--black);

    margin-right:15%;
    padding:1em;
}

.home-grid div img{
    float:left;
    max-width: 10em;
    height:90%;

    margin:1em;
    border-radius: 10px;
    margin-top:0.5em;
}
#sodasprings-div{
    margin-right:0%;
    margin-left:15%;
    
}
#sodasprings-div img{
    float:right;
}

/*Five day Forecast*/
.five_day{
    display: grid;
    grid-template: 1fr / repeat(5, 1fr);
    grid-gap: 3%;
}
.five_day div{
    display: flex;
    flex-flow: column;
    text-align: center;
    align-items: center;
    background-color: var(--moldgreen);
}
.five_day img{
    background-color: var(--aqua);
    height:10em;
    max-width:100%;
}


/*------------GALLERY*/
.images-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
}
.images-grid img{
    height: 75%;
}
.images-grid div{
    text-align: center;
}
.images-grid div:hover{
    box-shadow: 5px 5px 10px var(--black);
}

/*----------STORM CENTER*/
.scform, #thanks-site{
    display:flex;
    flex-direction: column;
    align-content: center;
    padding:1.5em;
}

@media screen and (max-width: 600px){ /*MEDIUM*/
    /*------Mobile title CSS*/
    .title img{
        margin-left: 0em;
    }
    /*----------Mobile nav CSS*/
    nav ul{
        display: flex;
        flex-direction: column;
    }
     
    nav ul li{
        display: none;
    }

    .display-menu{
        display: flex
    }
    
    .menu{
        display: flex;
        float: right;
        max-width: 10%;
        margin-left:5em;
        }
    .menu:hover{
        background-color: whitesmoke;
    }
    /*---------Weather Summary*/
    .weather_sum{
        position: static;
        margin:0px;
    }
    footer{
        grid-template: 1fr 1fr / 1fr;
    }
    footer iframe{
        grid-row: 2;
    }
    .social_media{
        display: none;
    }
    .images-grid{
        grid-template-columns: 1fr 1fr;
    }

    /*Five day Forecast*/
    .five_day{
        grid-gap:0px;
        font-size: 0.8em;
    }
    .five_day img{
        height:5em;
        width:100%;
    }
    /*---------INDEX PAGE*/
    .home-grid div p, #sodasprings-div p{
        font-size: 0.8em;
    }

    .home-grid div img, #sodasprings-div img{
        max-width: 30%;
    }
}   


@media screen and (max-width: 400px){ /*SMALL*/
    p, b,strong,  i, li, h1, h2, h3, h4, h5{
        font-size: 0.7em;
    }
    .menu{
        max-width: 15%;
        height: 3.3em;
    }

    nav ul a li{
        padding:1%;
    }
    .logo{
        max-width: 3em;
    }
    .weather_sum{
    grid-template: 1fr  1fr/ 1fr;
    grid-gap:0em;
    }
    /*GALLERY*/
    .images-grid{
        grid-template-columns: 1fr;
    }

    /*---------INDEX PAGE*/
    .home-grid div, #sodasprings-div{
        margin: 0px;
    }

    .home-grid div img, #sodasprings-div img{
        float:none;
        max-height:30%;
        max-width: 10em;
        margin-left:3em;
    }

    .five_day{
        grid-gap:0px;
        font-size: 0.5em;
    }
}